/* font style */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }


*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #F1F1F3;
}

main{
    background-color: #F1F1F3;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
}

.nav-title{
    font-size: 38px;
    font-weight: bold;
    padding: 31px 192px; 
}

/* BD-2.0 style */

.nav-btn{
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    height: 62px;
    width: 141px;
    font-size: 23px;
    font-weight: 600;
    padding: 15px 30px;
    margin: 24px 192px;
    font-family: "Fira Sans", serif;
}

.bd-2-0{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C6E4D6;
    gap: 160px;
    margin: 0px 192px;
    border-radius: 24px;
    height: 560px;
}

.header-subtitle{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.header-title{
    font-size: 66px;
    font-weight: 800;
    margin-bottom: 24px;
}

.explore-btn{
    color: #FFFFFF;
    height: 67px;
    width: 324px;
    background-color: #006A50;
    padding: 17px 34px;
    font-size: 22px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    border-radius: 8px;
    border: none;

}

/* pillar section style */

.Pillars-of-bd{
    margin: 80px 192px;
}

.pillar-title{
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 32px;
}

.pillar-box{
    display: flex;
    gap: 26px;
}

.box-style{
    height: 210px;
    width: 360px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 27px;
}

.piller-header{
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.89);
    margin-top: 24px;
    margin-bottom: 12px;
}

.header-description{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);

}

/* vision section style */

.vision-section{
    margin: 80px 192px;
}

.vision-title{
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 32px;
}

.vision-description{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);
    margin-bottom: 32px;
}

.vision-box{
    display: flex;
    gap: 26px;
}

.blue-box{
    height: 325px;
    width: 492px;
    background-color: rgba(84, 144, 245, 0.2);
    border: none;
    border-radius: 16px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.blue-btn{
    height: 41px;
    width: 146px;
    color: white;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
}

.green-box{
    height: 325px;
    width: 492px;
    background-color: #C6E4D6;
    border: none;
    border-radius: 16px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.green-btn{
    height: 41px;
    width: 146px;
    color: white;
    background-color: #09A15C;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
}

.yellow-box{
    height: 325px;
    width: 492px;
    background-color: #F7EBCF;
    border: none;
    border-radius: 16px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.yellow-btn{
    height: 41px;
    width: 146px;
    color: white;
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
}

.box-title{
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.89);
    margin-top: 28px;
    margin-bottom: 14px;
}

.box-description{
    font-size: 19px;
    margin-bottom: 28px;

}