/* font style */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
}

/* shared style */

.text-style-1 {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 32px;
}

.text-style-2 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);
    margin-bottom: 32px;
}

header {
    background-color: #F1F1F3;
}

main {
    background-color: #F1F1F3;
}

footer{
    background-color: #F1F1F3;
    padding-top: 38px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
}

.nav-title {
    font-size: 38px;
    font-weight: bold;
    padding: 31px 192px;
}

header nav a{
    text-decoration: none;
    color: black;
}

/* BD-2.0 style */

.nav-btn {
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    height: 62px;
    width: 141px;
    font-size: 23px;
    font-weight: 600;
    padding: 15px 30px;
    margin: 24px 192px;
    font-family: "Fira Sans", serif;
    cursor: pointer;
}

.nav-btn:hover{
    color: #FFFFFF;
    background-color: #006A50;
}

.bd-2-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C6E4D6;
    gap: 160px;
    margin: 0px 192px;
    border-radius: 24px;
    height: 560px;
}

.header-subtitle {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.header-title {
    font-size: 66px;
    font-weight: 800;
    margin-bottom: 24px;
}

.explore-btn {
    color: #FFFFFF;
    height: 67px;
    width: 324px;
    background-color: #006A50;
    padding: 17px 34px;
    font-size: 22px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.explore-btn:hover{
    color: white;
    background-color: #527a68;
}

/* pillar section style */

.Pillars-of-bd {
    margin: 80px 192px;
}

.pillar-title {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 32px;
}

.pillar-box {
    display: flex;
    gap: 26px;
}

.box-style {
    height: 210px;
    width: 360px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 27px;
}

.piller-header {
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.89);
    margin-top: 24px;
    margin-bottom: 12px;
}

.header-description {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);

}

/* vision section style */

.vision-section {
    margin: 80px 192px;
}

.vision-title {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 32px;
}

.vision-description {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);
    margin-bottom: 32px;
}

.vision-box {
    display: flex;
    gap: 26px;
    margin-bottom: 32px;
}

.blue-box {
    height: 325px;
    width: 492px;
    background-color: rgba(84, 144, 245, 0.2);
    border: none;
    border-radius: 16px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.blue-btn {
    height: 41px;
    width: 146px;
    color: white;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    cursor: pointer;
}

.blue-btn:hover{
    color: #5490F5;
    background-color: white;
}

.green-box {
    height: 325px;
    width: 492px;
    background-color: #C6E4D6;
    border: none;
    border-radius: 16px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.green-btn {
    height: 41px;
    width: 146px;
    color: white;
    background-color: #09A15C;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    cursor: pointer;
}

.green-btn:hover{
    color: #09A15C;
    background-color: white;
}

.yellow-box {
    height: 325px;
    width: 492px;
    background-color: #F7EBCF;
    border: none;
    border-radius: 16px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.yellow-btn {
    height: 41px;
    width: 146px;
    color: white;
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    cursor: pointer;
}

.yellow-btn:hover{
    color: #FFC239;
    background-color: white;
}

.box-title {
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.89);
    margin-top: 28px;
    margin-bottom: 14px;
}

.box-description {
    font-size: 19px;
    margin-bottom: 28px;

}

/* quote style */

.quote {
    height: 180px;
    width: 1470px;
    background-color: white;
    border: none;
    border-radius: 16px;
    padding: 30px 24px 48px;

}

.quote-img {
    background: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.quote-description {
    font-size: 19px;
    color: #0e0e0ed2;
    padding: 19px 0px;
    /* margin-bottom: 12px; */
}

.dr {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;

}

.dr-title {
    font-size: 19px;
    color: #0e0e0ed2;
    /* margin-bottom: 12px; */
}

/* news section style */

.news-section {
    margin: 80px 192px;
}

.news-container {
    /* margin: 80px 192px; */
    display: flex;
    flex-direction: column;

}

.news-box {
    height: 310px;
    width: 1430px;
    padding: 48px;
    border: none;
    border-radius: 16px;
    background-color: white;
    display: flex;
    gap: 32px;
}

.news-title {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 12px;
}

.Time-date {
    margin: 12px 0;
    opacity: 0.6;
}

.news-details {
    font-size: 19px;
    margin-bottom: 40px;
}

.learn-more {
    color: #FFFFFF;
    height: 48px;
    width: 165px;
    background-color: #006A50;
    padding: 13px 26px;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.learn-more:hover{
    color: #006A50;
    background-color: transparent;
    border: 2px solid #006A50;
}

.news-container .news-box {
    margin-bottom: 24px;
}

.news-container img {
    border-radius: 16px;
}

/* donate section style */

.donate-section {
    text-align: center;
    margin: 80px 192px;
}

.donate-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.tk {
    height: 128px;
    width: 260px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 16px;
    font-size: 37px;
    font-weight: bold;
    padding: 40px;
    color: rgba(0, 0, 0, 0.836);
    font-family: "Fira Sans", serif;
    cursor: pointer;
}

.tk:hover{
    color: black;
    background-color: #C6E4D6;
    /* border: 2px solid #006A50; */
}

.other-amount {
    height: 64px;
    width: 1072px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    text-align: center;
    font-size: 19px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    margin: 32px 32px;
    font-family: "Fira Sans", serif;
}

.donate-btn{
    color: #FFFFFF;
    height: 56px;
    width: 151px;
    background-color: #006A50;
    padding: 17px 34px;
    font-size: 20px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.donate-btn:hover{
    color: #006A50;
    background-color: transparent;
    border: 2px solid #006A50;
}


/* subscribe section style */

.subscrib-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C6E4D6;
    margin: 0px 192px;
    border-radius: 24px;
    height: 395px;
    padding: 80px 310px;

}

.subs-title{
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
}

.subs-description{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);
    margin-bottom: 32px;
    text-align: center;
}
.subscribe-box{
    display: flex;
    gap: 0px;
}

.email-box{
    height: 32px;
    width: 390px;
    text-align: start;
    padding: 18px 403px 18px 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.603);
    /* margin: 32px 0px; */
    border-radius: 12px 0px 0px 12px;
    border: none;
    font-family: "Fira Sans", serif;
}

.subs-btn{
    color: #FFFFFF;
    height: 68px;
    width: 151px;
    background-color: #006A50;
    padding: 17px 34px;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    border-radius: 0px 12px 12px 0;
    border: none;
    cursor: pointer;
}

.subs-btn:hover{
    color: white;
    background-color: #527a68;
}


/* footer section style */

.footer-section{
    height: 226px;
    width: 1600px;
    padding: 50px 160px;
    margin-top: 80px;
    background-color: white;
} 

.footer-content{
    display: flex;
    flex-direction: column;
}

.footer-title{
    font-size: 38px;
    font-weight: 700;
    margin: 32px 32px;
    text-align: center;
    
}

.footer-img{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
}

footer a{
    text-decoration: none;
    color: black;
}

hr{
    opacity: 0.3;
}
